body{background: rgb(38, 198, 218);
    width: 98%; height: 650px;
     display: grid;
     grid-template-columns: 32% 32% 32%;
     grid-template-rows: 20% 15% 15% 15% 15% 15%;
     grid-gap:10px;
     grid-template-areas: "d1 d1 d1"
                           "d2 d2 d3"
                            "d4 d5 d5"
                            "d6 d6 d7"
                            "d8 d9 d9"
                            "d10 d10 d11";
    }   
.div1{grid-area:d1 ; text-align: center;}   
.div1 h2 {font-family: Acme;color:#4E342E; font-size: 30px;}
.div1 p {font-family: Righteous, bold;font-size:20px ;}
.div2{grid-area:d2 ;}  
.div3{grid-area:d3 ;}  
.div4{grid-area:d4 ;}  
.div5{grid-area:d5 ;}  
.div6{grid-area:d6 ;} 
.div7{grid-area:d7 ;}
.div8{grid-area:d8 ;}
.div9{grid-area:d9 ;}
.div10{grid-area:d10 ;}
.div11{grid-area:d11 ;}
.hd {font-family: Righteous;font-size: 20px; background:rgb(141, 110, 99);color: white; padding-right: 10px;
     padding-left: 10px; border-radius: 15px;}
.fr {text-align: right;}
.cd {background: rgb(224, 224, 224);}

@media (max-width:800px){
    body{ width: 90%; scroll-margin-left: 50px;
         display: grid;
         grid-template-columns: 100%;
         grid-template-rows: 20% 6% 18% 6% 18% 6% 18% 6% 18% 6% 18%;
         grid-gap:10px;
         grid-template-areas: "d1"
                               "d3" "d2"
                                "d4" "d5"
                                "d7" "d6"
                                "d8" "d9"
                                "d11" "d10";
        }

}